VITE_FEATURE_STUDIO_V2=true
VITE_FEATURE_ILLUSTRATED_CAST=true
VITE_FEATURE_AI_DIRECTOR=false
VITE_FEATURE_GALLERY_PUBLISH=false

ANUIME_AI_DIRECTOR_ENABLED=false
ANUIME_EVE_DIRECTOR_URL=http://127.0.0.1:3000
ANUIME_EVE_DIRECTOR_USERNAME=anuime-proxy
ANUIME_EVE_DIRECTOR_PASSWORD=
ANUIME_DIRECTOR_SESSION_SECRET=
ANUIME_GALLERY_PUBLISH_ENABLED=false
ANUIME_GALLERY_SESSION_SECRET=
ANUIME_GALLERY_DB_PATH=.data/anuime-gallery.sqlite
ANUIME_MODERATOR_TOKEN=
